Cms/schemy/XMLDE/Schemas/__IntDokl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Radovan Horacek (CIGLER SOFTWARE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="__Comtypes.xsd"/>
	<xs:include schemaLocation="__Firma.xsd"/>
	<xs:complexType name="intDoklType">
		<xs:sequence>
			<xs:element name="Doklad" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Číslo dokladu  Import: ANO Export: ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Popis" type="popisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Popis Import: ANO Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatUcPr" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datum účetního případu Import: ANO Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatPln" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datum zdanitelného plnění Import: ANO Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CisloZapoc">
				<xs:annotation>
					<xs:documentation>Číslo vzájemného zápočtu, který je tvořen mj. i tímto dokladem. IMPORT: ANO, EXPORT: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VarSym" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Variabilní szmbol Import: ANO Export: ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ParSym" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Párovací symbol Import: ANO Export: ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Adresa" type="dokladFirmaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Adresát dokladu Import: ANO Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrKont" type="zkratkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>zatím neřešeno</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cleneni" type="zkratkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Členění DPH Import: ANO Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stred" type="zkratkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Středisko Import: ANO Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Zakazka" type="zkratkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zakázka Import: ANO Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cinnost" type="zkratkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Činnost Import: ANO Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Vyroba" type="castkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Pro potřeby modulu Výroba</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SSazba" type="procentoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Snížená sazba DPH Import: NE (bere se z konfigurace Money) Export: ANO </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZSazba" type="procentoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Základní sazba DPH Import: NE (bere se z konfigurace Money) Export: ANO </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence minOccurs="0">
				<xs:annotation>
					<xs:documentation>Celkové sumy dokladu v domácí měně Import: NE (kalkuluje se z položek) Export: ANO </xs:documentation>
				</xs:annotation>
				<xs:element name="SouhrnDPH" type="souhrnDPHType"/>
				<xs:element name="Celkem" type="castkaType"/>
			</xs:sequence>
			<xs:element name="Pozn" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Poznámka Import: ANO Export: ANO </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DRada" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Číselná řada - prefix  Import: ANO Export: ANO </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DCislo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Čítač číselné řady Import: NE Export: ANO </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="11"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Vyst" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Uživatel, který vystavil doklad Import: ANO Export: ANO </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Rezim" type="xs:boolean" minOccurs="0"/>
			<xs:element name="KorekceCen" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>neřešeno</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypDokl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zkratka typu dokladu Import: ANO Export: ANO </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="RozuctPolozka" type="rozuctPolozIDType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Rozúčtovací položky dokladu Import: ANO Export: ANO </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="NormPolozka" type="normPolozIDType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>neřešeno</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="Vlajky" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Global" type="VlajkaType" minOccurs="0"/>
						<xs:element name="User" type="VlajkaType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="normPolozIDType">
		<xs:sequence>
			<xs:element name="Poradi" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="11"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Popis" type="popisType" minOccurs="0"/>
			<xs:element name="Zkratka" type="zkratkaType" minOccurs="0"/>
			<xs:element name="Cena" type="castkaType" minOccurs="0"/>
			<xs:element name="CenaTyp" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="1"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SazbaDPH" type="procentoType" minOccurs="0"/>
			<xs:element name="TextMJ" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PocetMJ" type="mnozstviType" minOccurs="0"/>
			<xs:element name="PrKont" type="zkratkaType" minOccurs="0"/>
			<xs:element name="Cleneni" type="zkratkaType" minOccurs="0"/>
			<xs:element name="Stred" type="zkratkaType" minOccurs="0"/>
			<xs:element name="Zakazka" type="zkratkaType" minOccurs="0"/>
			<xs:element name="Cinnost" type="zkratkaType" minOccurs="0"/>
			<xs:element name="Poznamka" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rozuctPolozIDType">
		<xs:sequence>
			<xs:element name="Popis" type="popisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Popis položky Import: ANO Export: ANO  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UcMD" type="ucetType">
				<xs:annotation>
					<xs:documentation>Účet MD Import: ANO Export: ANO </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UcD" type="ucetType">
				<xs:annotation>
					<xs:documentation>Účet Dal Import: ANO Export: ANO </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Castka" type="castkaType">
				<xs:annotation>
					<xs:documentation>Částka položky Import: ANO Export: ANO </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stred" type="zkratkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Středisko Import: ANO Export: ANO </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Zakazka" type="zkratkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zakázka Import: ANO Export: ANO </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cinnost" type="zkratkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Činnost Import: ANO Export: ANO </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ParSym" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Párovací symbol Import: ANO Export: ANO </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ParICO" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Párovací IČO (pro zaúčtování) Import: ANO Export: ANO </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Pozn" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Poznámka Import: ANO Export: ANO </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypCena" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Typ ceny(částka) : 0=základ, 1= DPH Import: ANO Export: ANO </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SazbaDPH" type="procentoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sazba DPH pro částku položky Import: ANO Export: ANO </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
