Cms/schemy/XMLDE/Schemas/__SklDokl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Radovan Horacek (CIGLER SOFTWARE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="__Comtypes.xsd"/>
	<xs:include schemaLocation="__Firma.xsd"/>
	<xs:include schemaLocation="__Zasoba.xsd"/>
	<xs:complexType name="sklDoklType">
		<xs:sequence>
			<xs:element name="CisloDokla" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Import: ANO, Export: ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CObjednavk" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Číslo objednávky (pouze DLV, Prodejka) IMPORT:ANO, EXPORT:ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KPFromOdb" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Příznak toho, že se adresa konečného příjemce přebírá z odběratele Import: ANO, Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Datum" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Import: ANO, Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence minOccurs="0">
				<xs:annotation>
					<xs:documentation>Neimportuje se, hodnoty se kalkulují z položek dokladu, Import: Ne, Export: ANO</xs:documentation>
				</xs:annotation>
				<xs:element name="SouhrnDPH" type="souhrnDPHType"/>
				<xs:element name="Celkem" type="castkaType"/>
			</xs:sequence>
			<xs:element name="Sleva" type="castkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sleva v procentech Import: Ano, Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DRada" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zkratka číselné řady Import: ANO, Export: ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Stredisko" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Středisko Import: ANO, Export: ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Zakazka" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zakázka Import: ANO, Export: ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Cinnost" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Činnost Import: ANO, Export: ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Popis" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Poznámka Import: ANO, Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Vystavil" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Import: NE, Export: ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VyrizFaktu" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Import: NE, Export: NE</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TextPredPo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Text před položkami Import: ANO, Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TextZaPol" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Text za položkami Import: ANO, Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nadpis" type="popisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Import: ANO, Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZkratTypuD" type="zkratkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zkratka typu dokladu Import: ANO, Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PorizCena" type="castkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Import: NE, Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PopisX" type="popisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Import: ANO, Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Fiskal" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Příznak toho, že prošlo fiskálem Import: NE, Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FisDoklad" type="cisloType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Číslo fiskálního dokladu Import: NE, Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatSkPoh" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datum skladového pohybu Import: ANO, Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SazbaDPH1" type="procentoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Import: NE, Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SazbaDPH2" type="procentoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Import: NE, Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrimDoklad" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Doklad došlý Import: ANO, Export: ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VarSymbol" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Variabilní symbol Import:ANO, Export:ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ParSymbol" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Párovací symbol Import: ANO, Export: ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DodOdb" type="skDokladFirmaType" minOccurs="0"/>
			<xs:element name="KonecPrij" type="konecPrijFirmaType" minOccurs="0"/>
			<xs:element name="TypTransakce" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Hodnota pro Intrastat. Údaj je na hlavičkách i na položkách. </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2"/>
						<xs:whiteSpace value="replace"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DodaciPodm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Hodnota pro Intrastat. Údaj je jenom na hlavičkách dokladů.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="replace"/>
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DruhDopravy" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Hodnota pro Intrastat. Údaj se vyskytuje pouze na hlavičkách dokladů. </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
						<xs:whiteSpace value="replace"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StOdeslUrc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Hodnota pro Intrastat. Při přijetí zboží z jiného členského státu EU se jedná o „Stát odeslání“ (dodací list přijatý, příjemka), při odeslání zboží do jiného členského státu EU se jedná o „Stát určení“ (dodací list vydaný, výdejka, prodejka). Údaj se vyskytuje pouze na hlavičkách dokladů.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DopravTuz" type="castkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Doprava tuzemsko</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DopravZahr" type="castkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Doprava zahraničí</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatumITS" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datum pro Intrastat</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sleva" type="castkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sleva celkem za doklad (pouze u dokladů s položkami) - implicitně 0  IMPORT: NE (případná sleva dokladu musí být zohledněna přímo v cenách položek), EXPORT: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Valuty" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Mena" type="menaType">
							<xs:annotation>
								<xs:documentation>Měna se identifikuje podle zkratky Kódu. Není-li zadán Kurs, je Kurs načten z dat Money. Pokud existuje v datech tag Valuty, je doklad považován za cizoměnný.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SouhrnDPH" type="souhrnDPHType">
							<xs:annotation>
								<xs:documentation>IMPORT: ANO*, EXPORT: ANO   *)  Hodnoty se v případě faktur s položkami počítají z položek. Následně  se importuje pouze Zaklad0 pro příp. zaokrouhlení dokladu.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Celkem" type="castkaType">
							<xs:annotation>
								<xs:documentation>Celková částka valut. IMPORT: NE, EXPORT: ANO </xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SkladProPr" type="skladType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sklad pro převod Tento tag je zde pro případ, že by se implemetovaly převodky Import: Ne Export: NE </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Polozka" type="polSklDoklType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MojeFirma" type="mojeFirmaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Import: NE, Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SeznamNepPlateb" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Seznam nepeněžních plateb na prodejkách
Import: ANO, Export ANO</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NepPlatba" type="nepPlatbaType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Vlajky" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Global" type="VlajkaType" minOccurs="0"/>
						<xs:element name="User" type="VlajkaType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="polSklDoklType">
		<xs:sequence>
			<xs:element name="Nazev" type="popisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Název položky Import: ANO, Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PocetMJ" type="mnozstviType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Import: ANO, Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cena" type="castkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Příjmové doklady: nákupní cena. Výdajové doklady: dodací list a prodejka - prodejní cena, výdejka -implicitně rovná pořizovací ceně.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Valuty" type="castkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>částka v cizí měně</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DPH" type="procentoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Import: ANO, Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CenaTyp" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Import: ANO, Export: ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="3"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Sleva" type="castkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sleva na položku</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cinnost" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Činnost Import: ANO, Export: ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Zakazka" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zakázka Import: ANO, Export: ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Stredisko" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Středisko Import: ANO, Export: ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CenovaHlad" type="zkratkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Cenová hladina Import: ANO, Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Poznamka" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Poznámka  Import: ANO, Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Vratka" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Příznak vratky  Import: ANO, Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UcetMD" type="ucetType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Účet má dáti  Import: ANO, Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UcetD" type="ucetType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Účet dal  Import: ANO, Export: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KodStatuPuv" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Údaj pro Intrastat. Vyskytuje se jen na položkách. Pokud není zadán, přebírá se z km. karty.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2"/>
						<xs:whiteSpace value="replace"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TypTransakce" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Hodnota pro Intrastat. Údaj je na hlavičkách i na položkách. </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2"/>
						<xs:whiteSpace value="replace"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Hmotnost" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Hodnota pro Intrastat. Údaj se vyskytuje jenom na položkách. </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:float">
						<xs:whiteSpace value="replace"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PorizCena" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Pořizovací cena: Pro výdejové doklady (výdejka, vyst.dod.list a prodejka) je  ignorována: a) při importu určuje pořizovací cenu sklad Money b) při exportu se neexportuje,  viz. též  proměnná "Cena" </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CenaPoSleve" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indikace, zda se jedná o cenu po slevě</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SeznamVC" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Seznam výrobních čísel Import: ANO, Export: ANO</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="VyrobniCislo" type="vyrobniCisloType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SeznamDodavek" minOccurs="0">
				<xs:annotation>
					<xs:documentation>U prijmu muze obsahovat 1 element Dodavka. Export (podle konfigurace) a import elementu Oznaceni (označení dodávky) a DatExp (datum exspirace). 
U vydeje se volitelne (podle nastaveni v konfiguraci) muze exportovat seznam dodavek, ze kterych byl vydej odepsany. Kazda dodavka obsahuje Oznaceni, DatExp, PocetMJ (mnozstvi odepsane z teto dodavky) a Cena (cena z dodavky). Pokud je vydej odepsany z jedne dodavky, nemusi byt obsazen PocetMJ ani Cena.
U VYDEJU SE DODAVKY NEIMPORTUJI!!!</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Dodavka" type="dodavkaType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Sklad" type="skladType"/>
			<xs:element name="KmKarta" type="kmKartaType"/>
			<xs:element name="Slozeni" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SubPolozka" type="defSubPolType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="defSubPolType">
		<xs:sequence>
			<xs:element name="MJNaSadu">
				<xs:simpleType>
					<xs:restriction base="mnozstviType">
						<xs:minExclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Polozka" type="polSklDoklType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nepPlatidloType">
		<xs:sequence>
			<xs:element name="Kod">
				<xs:annotation>
					<xs:documentation>Kód nepeněžního platidla
Import: ANO, Export ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Popis" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Popis nepeněžního platidla
Import: NE, Export ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VarSymb" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Variabilní symbol, který byl určen vystavitelem platidla (např. u platebních karet se jedná o variabilní symbol, pod kterým jsou evidovány kreditní pohyby z těchto plateb na bankovním účtu).
Import: NE, Export ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nepPlatbaType">
		<xs:sequence>
			<xs:element name="Platidlo" type="nepPlatidloType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifikace nepeněžního platidla. Není-li uvedeno, jedná se o hotovost.
Import: ANO, Export ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MnozstviMJ" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Počet měrných jednotek nepeněžního platidla na prodejce
Import: ANO (pouze je-li uvedeno Platidlo - nehotovostní platba), Export ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Castka" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Celková peněžní částka platidla v domácí měně
Import: ANO (pouze při hotovostní platbě), Export ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
