Cms/schemy/XMLDE/Schemas/__UcDokl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Radovan Horacek (CIGLER SOFTWARE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="__Comtypes.xsd"/>
	<xs:include schemaLocation="__Firma.xsd"/>
	<xs:complexType name="banDoklType">
		<xs:sequence>
			<xs:element name="Vydej" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Příznak Výdej/Příjem Výdej=True   IMPORT: ANO, EXPORT: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Doklad" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Číslo dokladu v Money  Klíčová položka. IMPORT: ANO, EXPORT: ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Popis" type="popisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Popis dokladu  IMPORT: ANO, EXPORT: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatUcPr" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datum úč.případu  IMPORT: ANO, EXPORT: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatVyst" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datum vystavení IMPORT: ANO, EXPORT: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatPlat" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datum platby  IMPORT: ANO, EXPORT: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatPln" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datum zdan.plnění   IMPORT: ANO, EXPORT: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Vypis" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Číslo bank.výpisu   IMPORT: ANO, EXPORT: ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="5"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IDPolozky" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifikace položky výpisu  IMPORT: ANO, EXPORT: ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AdUcet" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Účet protistrany IMPORT: nová ANO,  EXPORT: ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="34"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AdKod" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kód banky protistrany IMPORT: nová ANO,  EXPORT: ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="11"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VarSym" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Variab.symbol IMPORT: ANO, EXPORT: ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ParSym" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Párovací symbol  IMPORT: ANO, EXPORT: ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="KonSym" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Konstatní symbol symbol  IMPORT: ANO, EXPORT: ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SpecSym" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifický symbol  (protiúčtu partnera)  IMPORT: ANO, EXPORT: ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Adresa" type="dokladFirmaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Partner dokladu  IMPORT: ANO (podle konfigurace firmy jako vloženého objektu) , EXPORT: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrKont" type="zkratkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation> Zkratka předkontace  IMPORT: ANO, EXPORT: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cleneni" type="zkratkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zkratka členění DPH  IMPORT: ANO, EXPORT: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stred" type="zkratkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zkratka střediska IMPORT: ANO, EXPORT: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Zakazka" type="zkratkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zkratka zakázky IMPORT: ANO, EXPORT: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cinnost" type="zkratkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zkratka činnosti  IMPORT: ANO, EXPORT: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SSazba" type="procentoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation> Výše snížené sazby DPH IMPORT:  NE, EXPORT: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZSazba" type="procentoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation> Výše základní sazby DPH IMPORT:NE, EXPORT: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ceny za doklad.  doklady v domácí měně: IMPORT: ANO, EXPORT: ANO doklady v cizí měně: IMPORT: NE(kalkuluje se z cizí měny), EXPORT: ANO</xs:documentation>
				</xs:annotation>
				<xs:element name="SouhrnDPH" type="souhrnDPHType"/>
				<xs:element name="Celkem" type="castkaType"/>
			</xs:sequence>
			<xs:element name="Valuty" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Mena" type="menaType"/>
						<xs:element name="SouhrnDPH" type="souhrnDPHType"/>
						<xs:element name="Celkem" type="castkaType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Pozn" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Poznámka IMPORT:ANO, EXPORT: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DRada" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifikace číselné řady pro čísla dokladů. Není-li při importu specifikováno číslo dokladu, doplní se na základě číselné řady. IMPORT: nová ANO,  EXPORT: ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DCislo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Pořadové číslo dokladu v číselné řadě. IMPORT: NE, EXPORT: ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="11"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Vyst" minOccurs="0">
				<xs:annotation>
					<xs:documentation> default: Jméno přihlášeného uživatele Money IMPORT: ANO, EXPORT: ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TypDokl" type="zkratkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zkratka typu dokladu  IMPORT: ANO, EXPORT: ANO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ucet" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Účet  IMPORT: ANO (účet se identifikuje buď podle Zkratky účtu , nebo podle čísla účtu a kódu banky v Sz bank.účtů) , EXPORT: ANO </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Zkrat" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Zkratka bank.účtu  IMPORT: ANO, EXPORT: ANO</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Ucet" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Číslo ban.účtu ze Sz bank.účtů  IMPORT: NE, EXPORT: ANO</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="34"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="BKod" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Kód banky ban.účtu ze Sz bank.účtů  IMPORT: NE, EXPORT: ANO</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="11"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="BNazev" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Název banky ze Sz bank.účtů  IMPORT: NE, EXPORT: ANO</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:annotation>
					<xs:documentation>zatím neřešeno</xs:documentation>
				</xs:annotation>
				<xs:element name="SeznamNormPolozek" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="NormPolozka" type="normPolozUDType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamRozuctPolozek" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="RozuctPolozka" type="rozuctPolozUDType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="Vlajky" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Global" type="VlajkaType" minOccurs="0"/>
						<xs:element name="User" type="VlajkaType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="pokDoklType">
		<xs:sequence>
			<xs:element name="Vydej" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Příznak Výdej/Příjem Výdej=True</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Doklad" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Číslo dokladu v Money  Klíčová položka.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Popis" type="popisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Popis dokladu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatUcPr" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datum úč.případu, pouze v podvojném účetnictví</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatVyst" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datum vystavení</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatPlat" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datum platby</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatPln" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datum zdan.plnění</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VarSym" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Variab.symbol</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ParSym" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Párovací symbol</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Adresa" type="dokladFirmaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Partner dokladu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pokl" type="zkratkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation> Zkratka pokladny</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrKont" type="zkratkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation> Zkratka předkontace (nepovinná u dokladu s rozúčt. položkami)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cleneni" type="zkratkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zkratka členění DPH</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stred" type="zkratkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zkratka střediska</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Zakazka" type="zkratkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zkratka zakázky</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cinnost" type="zkratkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zkratka činnosti</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SSazba" type="procentoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation> Výše snížené sazby DPH</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZSazba" type="procentoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation> Výše základní sazby DPH</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ceny za doklad.  doklady v domácí měně: 
doklady v cizí měně: IMPORT: NE(kalkuluje se z cizí měny), EXPORT: ANO</xs:documentation>
				</xs:annotation>
				<xs:element name="SouhrnDPH" type="souhrnDPHType"/>
				<xs:element name="Celkem" type="castkaType">
					<xs:annotation>
						<xs:documentation>Cena celkem</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:element name="Valuty" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Mena" type="menaType"/>
						<xs:element name="SouhrnDPH" type="souhrnDPHType"/>
						<xs:element name="Celkem" type="castkaType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Pozn" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Poznámka</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DRada" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifikace číselné řady pro čísla dokladů. Není-li při importu specifikováno číslo dokladu, doplní se na základě číselné řady. IMPORT: nová ANO,  EXPORT: ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DCislo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Pořadové číslo dokladu v číselné řadě. IMPORT: NE, EXPORT: ANO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="11"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Vyst" minOccurs="0">
				<xs:annotation>
					<xs:documentation> default: Jméno přihlášeného uživatele Money</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TypDokl" type="zkratkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zkratka typu faktury</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZjednD" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Příznak  zjednodušeného daň.dokladu default=false, význam pouze pro tisk</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="SeznamNormPolozek" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam normálních položek</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="NormPolozka" type="normPolozUDType" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Normální položka</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamRozuctPolozek" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam rozúčtovacích položek</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="RozuctPolozka" type="rozuctPolozUDType" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Rozúčtovací položka</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="MojeFirma" type="mojeFirmaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>IMPORT: NE, EXPORT: ANO (pouze u FV se importují údaje Banka, Ucet, KodBanky)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Vlajky" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Global" type="VlajkaType" minOccurs="0"/>
						<xs:element name="User" type="VlajkaType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="normPolozUDType">
		<xs:sequence>
			<xs:element name="Poradi" type="cisloType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Pořadí položky</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Popis" type="popisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Popis položky</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cena" type="castkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Jednotková cena</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Valuty" type="castkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Jednotková cena v cizí měně</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CenaTyp" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Typ ceny:

0 = bez DPH
2 = jen DPH
3 = jen základ
4 = s DPH
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="3"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SazbaDPH" type="procentoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sazba DPH</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TextMJ" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Měrná jednotka</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PocetMJ" type="mnozstviType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Počet měrných jednotek</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrKont" type="zkratkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Předkontace</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cleneni" type="zkratkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Členění DPH</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stred" type="zkratkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Středisko</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Zakazka" type="zkratkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zakázka</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cinnost" type="zkratkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Činnost</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Poznamka" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Poznámka</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rozuctPolozUDType">
		<xs:sequence>
			<xs:element name="Popis" type="popisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Poznámka položky</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:sequence>
					<xs:element name="UcMD" type="ucetType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>účet MD v podvojném účetnictví, kontrola na číselník</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UcD" type="ucetType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>účet Dal v podvojném účetnictví, kontrola na číselník</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:element name="Pohyb" minOccurs="0">
					<xs:annotation>
						<xs:documentation>účetní pohyb v daňové evidenci, kontrola na číselník </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="Castka" type="castkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Částka</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stred" type="zkratkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>zkratka střediska, kontrola na číselník</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Zakazka" type="zkratkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>zkratka zakázky, kontrola na číselník</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cinnost" type="zkratkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>zkratka činnosti, kontrola na číselník</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ParSym" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Párovací symbol</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:choice>
				<xs:element name="ParICO" minOccurs="0">
					<xs:annotation>
						<xs:documentation>párovací IČ bez vazby na adresu
</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Adresa" type="firmaType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Párovací IČ s vazbou na adresu
</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="Pozn" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Poznámka</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypCena" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>typ ceny:
0 = Základ
1 = DPH
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SazbaDPH" type="procentoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>procento sazby DPH </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
