Cms/schemy/XMLDE/Schemas/EPO/EPO_Success.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Radovan Horacek (CIGLER SOFTWARE) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Data" type="xs:hexBinary"/>
	<xs:element name="Kontrola">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Soubor"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Pisemnost">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Data"/>
				<xs:element ref="Kontrola"/>
				<xs:element ref="Podani"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Podani">
		<xs:complexType>
			<xs:attribute name="Cislo" type="xs:string" use="required"/>
			<xs:attribute name="Datum" type="xs:dateTime" use="required"/>
			<xs:attribute name="Heslo" type="xs:hexBinary" use="required"/>
			<xs:attribute name="KC" type="xs:hexBinary" use="optional"/>
			<xs:attribute name="ZAREP" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Soubor">
		<xs:complexType>
			<xs:attribute name="Delka" type="xs:long" use="optional"/>
			<xs:attribute name="KC" type="xs:hexBinary" use="optional"/>
			<xs:attribute name="Nazev" type="xs:string" use="optional"/>
			<xs:attribute name="c_ufo" type="xs:long" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
